@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-mono: Noto Sans Mono, monospace;
  --font-sans: Noto Sans, sans-serif;
  --font-serif: Noto Serif, serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  font-family: sans-serif;
}
